<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>牛股精选</title>
    <#include "../common_css.html" />
    <link rel="stylesheet" href="${request.contextPath}/customerService/css/cusService.css">
    <link rel="stylesheet" href="${request.contextPath}/customerService/css/pt_client.css">
    <link rel="stylesheet" href="${request.contextPath}/customerService/css/layim.css">
    <style>
        .layui-fixbar {
            position: fixed;
            right: 15px;
            bottom: 1px;
            z-index: 9999;
        }
    </style>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <#include "../header.html"/>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">股票分类数据</a>
                    <dl class="layui-nav-child stockType">

                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a class="" href="javascript:;">成份股</a>
                    <dl class="layui-nav-child ">
                        <dd><a href="#" class="componentStock" code="hs300">沪深300</a></dd>
                        <dd><a href="#" class="componentStock" code="sz50">上证50</a></dd>
                        <dd><a href="#" class="componentStock" code="zz500">中证500</a></dd>
                    </dl>
                </li>
                <li><button class="layui-btn site-demo-layim" data-type="chat">自定义会话</button></li>
            </ul>

        </div>
    </div>

    <div class="layui-body">
        <div style="padding: 15px;">
            <div class="stockClassifyList">

            </div>
            <div class="stock"  style="margin-top: 8px;">

            </div>
        </div>
    </div>

    <div>
        <ul class="layui-fixbar customerService">
            <img src="https://cloud-static.datayes.com/source/kf/sidebar/img/kf.png" width="60" />
        </ul>
    </div>

    <div class="customerServiceList">

    </div>
</div>
<#include "../common_js.html" />
<script>
    $(function () {

        // 加载菜单
        var loadMenu = function() {
            $.ajax({
                url: '/stock/type',
                success: function(ret) {
                    var parentHtml = $('.stockType');
                    parentHtml.empty();
                    if (ret && ret.length > 0) {
                        var html = '';
                        for (var i = 0; i < ret.length; i++) {
                            html += ' <dd><a href="javascript:;" class="stockClassify" value="' + ret[i]['id'] + '">' + ret[i]['name'] + '</a></dd>';
                        }
                        parentHtml.html(html);
                    }
                    stockClassify();
                }
            });
        };

        // 股票分类
        var stockClassify = function() {
            $('.stockClassify').each(function() {
                $(this).unbind('click').click(function () {
                    $('.stock').hide();
                    var type = $(this).attr('value');
                    $.ajax({
                        url: '/stock/classify',
                        data: {'type': type},
                        success: function(ret) {
                            if (ret && ret.length > 0) {
                                var parentHtml = $('.stockClassifyList');
                                $('.stockClassifyList').show();
                                parentHtml.empty();
                                var html = '';
                                if (ret[0]['type'] == '1' || ret[0]['type'] == '2' || ret[0]['type'] == '3') {
                                    html += '<button class="layui-btn layui-btn-primary layui-btn-radius">请选择具体类别</button>'
                                } else if (ret[0]['type'] == '4' || ret[0]['type'] == '5' || ret[0]['type'] == '6'){
                                    $.ajax({
                                        url: '/stock/stock',
                                        data: {'classifyName': ret[0]['type']},
                                        success: function(ret) {
                                            var parentHtml = $('.stock');
                                            parentHtml.empty();
                                            var html = '';
                                            if (ret && ret.length > 0) {
                                                for (var i =0 ; i < ret.length; i++) {
                                                    html += '<button class="layui-btn layui-btn-primary" style="margin: 3px; border: hidden">' + ret[i]['code'] + '&nbsp;&nbsp;&nbsp;&nbsp;' + ret[i]['name'] + '</button>';
                                                }
                                            } else {
                                                html = '暂无对应分类股票数据';
                                            }
                                            parentHtml.html(html);
                                            $('.stock').show();
                                        }
                                    });
                                    return ;
                                }
                                var displayCount = 24;
                                var len = ret.length > displayCount ? displayCount : ret.length;

                                for (var i = 0; i < len; i++) {
                                    html += '<button class="layui-btn layui-btn-danger layui-btn-sm layui-btn-radius stockConcreteClassify" style="margin: 2px">' + ret[i]['name'] + '</button>';
                                }
                                if (ret.length > displayCount) {
                                    for (var i = displayCount; i < ret.length; i++) {
                                        html += '<button class="layui-btn layui-btn-danger layui-btn-sm layui-btn-radius moreSelect stockConcreteClassify" style="margin: 2px">' + ret[i]['name'] + '</button>';
                                    }
                                    html += '<button class="layui-btn layui-btn-danger layui-btn-sm layui-btn-radius moreClassify" display="no" style="margin: 2px;">' +
                                        '<i class="layui-icon" style="font-size: 30px; color: white;">&#xe65b;</i>' +
                                        '</button>';
                                }
                                parentHtml.html(html);
                            }

                            moreClassify();
                            stockConcreteClassify();
                        }
                    })
                });
            });
        };

        // 更多
        var moreClassify = function() {
            $('.moreSelect').hide();
            $('.moreClassify').unbind('click').click(function () {
                var parent = $(this).parent();
                $('.moreSelect', parent).show();
                var display = $(this).attr('display');
                if(display == "no"){
                    $(this).attr("display", "yes");
                    $(this).children().html("&#xe65a;");
                    $(".moreSelect",  parent).show();
                }else{
                    $(this).attr("display", "no");
                    $(this).children().html("&#xe65b;");
                    $(".moreSelect",  parent).hide();
                }
            });
        };

        // 具体股票分类查询
        var stockConcreteClassify =function() {
            $('.stockConcreteClassify').unbind('click').click(function() {

                var classifyName = $(this).html();
                $.ajax({
                    url: '/stock/stock',
                    data: {'classifyName': classifyName},
                    success: function(ret) {
                        var parentHtml = $('.stock');
                        parentHtml.empty();
                        var html = '';
                        if (ret && ret.length > 0) {
                            for (var i =0 ; i < ret.length; i++) {
                                html += '<button class="layui-btn layui-btn-primary" style="margin: 3px; border: hidden">' + ret[i]['code'] + '&nbsp;&nbsp;&nbsp;&nbsp;' + ret[i]['name'] + '</button>';
                            }
                        } else {
                            html = '暂无对应分类股票数据';
                        }
                        parentHtml.html(html);
                        $('.stock').show();
                    }
                })
            });
        };

        // 成份股查询
        $('.componentStock').unbind('click').click(function() {
            $('.stockClassifyList').hide();
            var componentName = $(this).attr('code');
            $.ajax({
                url: '/stock/componentStock',
                data: {'componentName': componentName},
                success: function(ret) {
                    debugger;
                    var parentHtml = $('.stock');
                    parentHtml.empty();
                    var html = '';
                    if (ret && ret.length > 0) {
                        for (var i =0 ; i < ret.length; i++) {
                            html += '<button class="layui-btn layui-btn-primary" style="margin: 3px; border: hidden">' + ret[i]['code'] + '&nbsp;&nbsp;&nbsp;&nbsp;' + ret[i]['name'] + '</button>';
                        }
                    } else {
                        html = '暂无对应分类股票数据';
                    }
                    parentHtml.html(html);
                    $('.stock').show();
                }
            });
        });


        // 客服提示
        $('.customerService').poshytip({
            content: function() {
                return '                    <div class="_dy_cs_item">' +
                    '                        <div class="_dy_cs_online"></div>' +
                    '                        <img src="https://cloud-static.datayes.com/source/kf/sidebar/img/kf.png" width="26">在线时间' +
                    '                    </div>' +
                    '                    <div class="_dy_cs_item">周一至周五</div>' +
                    '                    <div class="_dy_cs_item">09:00-21:00</div>' +
                    '                    <div class="_dy_cs_talk _dy_cs_item _dy_cs_callkf openConversation">发起会话</div>';
            },
            className: 'tip-white',
            alignTo: 'target',
            alignX: 'center',
            alignY: 'bottom'
        });

        // 会话模式
        var openConversation = function(){
            $('.openConversation').click(function() {
                debugger;
                var parentHtml = $('.customerServiceList');
                parentHtml.empty();
                var html = '<div class="layui-layer layui-layer-page layui-box layui-layim-chat"' +
                    '             style="z-index: 19891017; width: 600px; top: 77px; left: 467px; min-width: 500px; min-height: 420px;">' +
                    '            <div class="layui-layer-title" style="cursor: move;">​</div>' +
                    '            <div id="layui-layim-chat" class="layui-layer-content" style="height: 402px;">' +
                    '                <div class="layim-chat-box">' +
                    '                    <div class="layim-chat layim-chat-friend layui-show">' +
                    '                        <div class="layui-unselect layim-chat-title">' +
                    '                            <div class="layim-chat-other"><img class="layim-friend1008612"' +
                    '                                                               src="/customerService/img/touxiang.jpg"><span' +
                    '                                    class="layim-chat-username" layim-event="">十一</span>' +
                    '                                <p class="layim-chat-status"><span style="color:#FF5722;">在线</span></p></div>' +
                    '                        </div>' +
                    '                        <div class="layim-chat-main">' +
                    '                            <ul>' +
                    '                                <li class="layim-chat-mine">' +
                    '                                    <div class="layim-chat-user"><img' +
                    '                                            src="/customerService/img/tourist.jpg"><cite><i>2018-05-08' +
                    '                                        21:59:49</i>游客</cite></div>' +
                    '                                    <div class="layim-chat-text">看看看看</div>' +
                    '                                </li>' +
                    '                                <li>' +
                    '                                    <div class="layim-chat-user"><img' +
                    '                                            src="/customerService/img/touxiang.jpg"><cite>十一<i>2018-05-08' +
                    '                                        21:59:50</i></cite></div>' +
                    '                                    <div class="layim-chat-text">啦啦啦' +
                    '                                    </div>' +
                    '                                </li>' +
                    '                                <li class="layim-chat-mine">' +
                    '                                    <div class="layim-chat-user"><img' +
                    '                                            src="/customerService/img/tourist.jpg"><cite><i>2018-05-08' +
                    '                                        21:59:49</i>游客</cite></div>' +
                    '                                    <div class="layim-chat-text">看看看看</div>' +
                    '                                </li>' +
                    '                                <li>' +
                    '                                    <div class="layim-chat-user"><img' +
                    '                                            src="/customerService/img/touxiang.jpg"><cite>十一<i>2018-05-08' +
                    '                                        21:59:50</i></cite></div>' +
                    '                                    <div class="layim-chat-text">啦啦啦' +
                    '                                    </div>' +
                    '                                </li>' +
                    '                            </ul>' +
                    '                        </div>' +
                    '                        <div class="layim-chat-footer">' +
                    '                            <div class="layui-unselect layim-chat-tool">' +
                    '                                <span class="layui-icon layim-tool-face" title="选择表情" layim-event="face"></span><span' +
                    '                                    class="layui-icon layim-tool-image" title="上传图片" layim-event="image"></span>' +
                    '                            </div>' +
                    '                            <div class="layim-chat-textarea"><textarea></textarea></div>' +
                    '                            <div class="layim-chat-bottom">' +
                    '                                <div class="layim-chat-send"><span class="layim-send-close" layim-event="closeThisChat">关闭</span><span' +
                    '                                        class="layim-send-btn" layim-event="send">发送</span>' +
                    '                                </div>' +
                    '                            </div>' +
                    '                        </div>' +
                    '                    </div>' +
                    '                </div>' +
                    '            </div>' +
                    '            <span class="layui-layer-setwin"><a class="layui-layer-min" href="javascript:;"><cite></cite></a><a' +
                    '                    class="layui-layer-ico layui-layer-max" href="javascript:;"></a><a' +
                    '                    class="layui-layer-ico layui-layer-close layui-layer-close1" href="javascript:;"></a></span><span' +
                    '                class="layui-layer-resize"></span></div>';
                parentHtml.html(html);
            });
        };

        loadMenu();
    })
</script>
</body>
</html>