<div class="layui-side-scroll">
    <ul class="layui-nav layui-nav-tree"  lay-filter="test">
        <li class="layui-nav-item layui-nav-itemed">
            <a class="" href="javascript:;">股票分类数据</a>
            <dl class="layui-nav-child stockType">

            </dl>
        </li>
        <li class="layui-nav-item">
            <a class="" href="javascript:;">成份股</a>
            <dl class="layui-nav-child ">
                <dd><a href="#" class="componentStock" code="hs300">沪深300</a></dd>
                <dd><a href="#" class="componentStock" code="sz50">上证50</a></dd>
                <dd><a href="#" class="componentStock" code="zz500">中证500</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item">
            <a href="/stock/history" target="_blank">历史行情</a>
        </li>
    </ul>
</div>