<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>选股社区</title>

    <#include "../common_css.html"/>
    <!-- Style Sheet-->
    <link rel='stylesheet' id='bootstrap-css-css'  href='${request.contextPath}/community/css/bootstrap5152.css?ver=1.0' type='text/css' media='all' />
    <link rel='stylesheet' id='responsive-css-css'  href='${request.contextPath}/community/css/responsive5152.css?ver=1.0' type='text/css' media='all' />
    <link rel='stylesheet' id='pretty-photo-css-css'  href='${request.contextPath}/community/js/prettyphoto/prettyPhotoaeb9.css?ver=3.1.4' type='text/css' media='all' />
    <link rel='stylesheet' id='main-css-css'  href='${request.contextPath}/community/css/main5152.css?ver=1.0' type='text/css' media='all' />
    <link rel='stylesheet' id='custom-css-css'  href='${request.contextPath}/community/css/custom5152.html?ver=1.0' type='text/css' media='all' />

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="${request.contextPath}/community/js/html5.js"></script>
    <![endif]-->
</head>
<body>
<div class="layui-layout layui-layout-admin">
    <#include "../header.html"/>
</div>

<div class="search-area-wrapper">
    <div class="search-area container"  style="height: 60px">

        <form id="search-form" class="search-form clearfix" method="get" action="#" autocomplete="off">
            <input class="search-term required" type="text" id="s" name="s" placeholder="搜索关键字" title="* Please enter a search term!" />
            <input class="search-btn" type="submit" value="查询" />
            <div id="search-error-container"></div>
        </form>
    </div>
</div>

<!-- Start of Page Container -->
<div class="page-container">
    <div class="container">
        <div class="row">

            <!-- start of page content -->
            <div class="span8 main-listing">

                <!-- start of page content -->
                <div class="span8 page-content">

                    <article class=" type-post format-standard hentry clearfix">
                        <h1 class="post-title"><a href="#" id="articleName">${article.name}</a></h1>

                        <div class="post-meta clearfix">
                            <input id="articleId" type="hidden" value="${article.id}"/>
                            <span class="date">${article.date?split(" ")[0]}</span>
                            <span class="category"><a href="#">${article.tag[0].name}</a></span>
                            <span class="comments"><a href="#">${article.readCount}</a></span>
                            <span class="like-count" code="0">${article.likeCount}</span>
                        </div><!-- end of post meta -->

                        <div style="margin-right: 30px;">${article.content}</div>

                    </article>

                    <section id="comments">

                        <h3 id="comments-title">历史评论</h3>

                        <ol class="commentlist" style="margin-right: 40px">

                        </ol>

                        <div id="respond">

                            <h3>评论</h3>

                            <div>
                                <div>
                                    <span class="commentError" style="color: red;margin-left: 4px" ></span>
                                    <textarea class="span7" name="comment" id="comment" rows="10"></textarea>
                                </div>

                                <div>
                                    <input class="btn submitComment" name="submit" type="button" value="提交评论">
                                </div>

                            </div>

                        </div>

                    </section><!-- end of comments -->

                </div>
                <!-- end of page content -->

            </div>
            <!-- end of page content -->
            <!-- start of sidebar -->
            <aside class="span4 page-sidebar">

                <section class="widget">
                    <div class="support-widget">
                        <h3 class="title">联系我们</h3>
                        <p class="intro">需要更多支持？ 如果您没有找到答案，请联系我们获取进一步帮助。</p>
                    </div>
                </section>

                <section class="widget">
                    <div class="quick-links-widget">
                        <h3 class="title">快速访问</h3>
                        <ul id="menu-quick-links" class="menu clearfix">
                            <li><a href="${request.contextPath}/community/index">社区首页</a></li>
                            <li><a href="${request.contextPath}/community/article">内容列表</a></li>
                            <li><a href="${request.contextPath}/community/faq">常见问题</a></li>
                            <li><a href="${request.contextPath}/community/contact">联系我们</a></li>
                        </ul>
                    </div>
                </section>

                <section class="widget">
                    <h3 class="title">精选内容</h3>
                    <ul class="articles">
                        <#list choiceArticle as choiceArticle>
                            <li class="article-entry standard">
                                <input type="hidden" value="${choiceArticle.id}"/>
                                <h4><a href="#">${choiceArticle.name}</a></h4>
                                <span class="article-meta">${choiceArticle.date?split(" ")[0]}&nbsp;<a href="#" >${choiceArticle.tag[0].name}</a></span>
                                <span class="like-count" code="0">${choiceArticle.likeCount}</span>
                            </li>
                        </#list>
                    </ul>
                </section>

                <section class="widget">
                    <h3 class="title">最近评论</h3>
                    <ul class="recentCommentlist">

                    </ul>
                </section>

            </aside>
            <!-- end of sidebar -->
        </div>
    </div>
</div>
<!-- End of Page Container -->
<#include "../common_js.html" />
<script>
    $(function() {
        var articleId = $('#articleId').val();
        var articleName = $('#articleName').html();

        // 发表评论
        $('.submitComment').click(function() {
            var comment = $('#comment').val();
            var temp = comment.replace(/\s/g, "");
            temp = temp.replace(/\n/g, "");
            if (null == comment || temp.length <= 0) {
                $('.commentError').html('评论内容不能为空');
                return ;
            }
            $('.commentError').html('');

            var params = {
                articleId: articleId,
                articleName: articleName,
                content: comment
            };


            // 提交评论
            $.ajax({
                url: '/community/addComment',
                data: params,
                type: 'POST',
                dataType: 'JSON',
                success: function(ret) {
                    layer.msg('评论成功');
                    initComments();
                    listRecentComments();
                }
            });
        });

        // 初始化评论内容
        var initComments = function() {
            $.ajax({
                url: '/community/listComment',
                data: {'id': articleId},
                type: 'POST',
                dataType: 'JSON',
                success: function(ret) {
                    var parentHtml = $('.commentlist');
                    parentHtml.empty();
                    var html = '';
                    if (ret && ret.length > 0) {
                        html = '<li class="comment even thread-even depth-1" id="li-comment-2">';
                        for (var i = 0; i < ret.length; i++) {
                            var date = DateFormat.format(new Date(ret[i].date), 'yyyy-MM-dd hh:mm');
                            if (i % 2 == 0) {
                                html += '                         <article id="comment-2">' +
                                    '                                <a href="#">' +
                                    '                                    <img alt="" src="/img/user/' + ret[i].user['img'] + '" class="avatar avatar-60 photo" height="60" width="60">' +
                                    '                                </a>' +
                                    '                                    <div class="comment-meta">' +
                                    '                                        <h5 class="author">' +
                                    '                                            <cite class="fn">' +
                                    '                                                <a href="#" rel="external nofollow" class="url">' + ret[i].user['username'] + '</a>' +
                                    '                                            </cite>' +
                                    '                                        </h5>' +
                                    '                                        <p class="date">' +
                                    '                                            <a href="#">' +
                                    '                                                <time>' + date + '</time>' +
                                    '                                            </a>' +
                                    '                                        </p>' +
                                    '                                    </div><!-- end .comment-meta -->' +
                                    '                                    <div class="comment-body">' +
                                    ret[i]['content'] +
                                    '                                    </div><!-- end of comment-body -->' +
                                    '                                </article><!-- end of comment -->';
                            } else {
                                html +=
                                    '                                <ul class="children">' +
                                    '                                    <li class="comment byuser comment-author-saqib-sarwar bypostauthor odd alt depth-2" id="li-comment-3">' +
                                    '                                        <article id="comment-3">' +
                                    '                                            <a href="#">' +
                                    '                                                <img alt="" src="/img/user/' + ret[i].user['img'] + '" class="avatar avatar-60 photo" height="60" width="60">' +
                                    '                                            </a>' +
                                    '                                            <div class="comment-meta">' +
                                    '                                                <h5 class="author">' +
                                    '                                                    <cite class="fn">' + ret[i].user['username'] + '</cite>' +
                                    '                                                </h5>' +
                                    '                                                <p class="date">' +
                                    '                                                    <a href="#">' +
                                    '                                                        <time>' + date + '</time>' +
                                    '                                                    </a>' +
                                    '                                                </p>' +
                                    '                                            </div><!-- end .comment-meta -->' +
                                    '                                            <div class="comment-body">' +
                                    ret[i]['content'] +
                                    '                                            </div><!-- end of comment-body -->' +
                                    '                                        </article><!-- end of comment -->' +
                                    '                                    </li>' +
                                    '                                </ul>';
                            }
                        }
                        html += '</li>';
                    } else {
                        html = '暂无评论'
                    }
                    parentHtml.html(html);
                }
            });
        };

        // 最近评论
        var listRecentComments = function() {
            $.ajax({
                url: '/community/listRecentComment',
                data: {'pageNo': '1', 'pageSize': '4'},
                type: 'POST',
                dataType: 'JSON',
                success: function(ret) {
                    var parentHtml = $('.recentCommentlist');
                    parentHtml.empty();
                    var html = '';
                    if (ret && ret.length > 0) {
                        for (var i = 0; i < ret.length; i++) {
                            var articleName = ret[i]['articleName'].length > 15 ? ret[i]['articleName'].substring(0,15) + '...' : ret[i]['articleName'];
                            html += '<li class="recentcomments">' +
                                    '   <a href="#" rel="external nofollow" class="url">' +
                                    ret[i].user['username'] + '' +
                                    '   </a> 关于 ' +
                                    '   <a href="/community/articleDetail?id=' + ret[i]['articleId'] + '">' +
                                            articleName +
                                    '  </a> 的评论' +
                                    '</li>';
                        }
                    } else {
                        html = '暂无评论'
                    }
                    parentHtml.html(html);
                }
            });
        };


        // 点赞
        $('.like-count').each(function () {
            $(this).click(function () {
                var id = $(this).siblings().eq(0).val();
                var code = $(this).attr('code');
                var likeCount = $(this).html();
                if (code == 0) { // 点赞
                    $.ajax({
                        url: "/community/updateLike",
                        data: {id: id},
                        type: 'GET',
                        dataType: 'JSON',
                        success: function(ret) {
                        }
                    });
                    $(this).html(parseInt(likeCount) + 1);
                    $(this).attr('code', "1");
                    $(this).attr('style', "background: url(${request.contextPath}/community/images/like.png) no-repeat 6px -22px;");
                } else { // 取消点赞
                    $.ajax({
                        url: "/community/removeLike",
                        data: {id: id},
                        type: 'GET',
                        dataType: 'JSON',
                        success: function(ret) {
                        }
                    });
                    $(this).html(parseInt(likeCount) - 1);
                    $(this).attr('code', "0");
                    $(this).attr('style', "background: url(${request.contextPath}/community/images/like.png) no-repeat 6px 8px;");
                }
            });
        });

        initComments();
        listRecentComments();
    })
</script>
</body>
</html>