<!DOCTYPE html>
<html>
<link>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>选股社区</title>

    <#include "../common_css.html"/>
    <!-- Style Sheet-->
    <link rel='stylesheet' id='bootstrap-css-css'  href='${request.contextPath}/community/css/bootstrap5152.css?ver=1.0' type='text/css' media='all' />
    <link rel='stylesheet' id='responsive-css-css'  href='${request.contextPath}/community/css/responsive5152.css?ver=1.0' type='text/css' media='all' />
    <link rel='stylesheet' id='pretty-photo-css-css'  href='${request.contextPath}/community/js/prettyphoto/prettyPhotoaeb9.css?ver=3.1.4' type='text/css' media='all' />
    <link rel='stylesheet' id='main-css-css'  href='${request.contextPath}/community/css/main5152.css?ver=1.0' type='text/css' media='all' />
    <link rel='stylesheet' id='custom-css-css'  href='${request.contextPath}/community/css/custom5152.html?ver=1.0' type='text/css' media='all' />

    <!-- freemarker js引入写成 <script src="..."/> 这种形式无效 -->
    <script src="${request.contextPath}/js/jquery-3.3.1.min.js"></script>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="${request.contextPath}/community/js/html5.js"></script>
    <![endif]-->
</head>
<body>
<div class="layui-layout layui-layout-admin">

    <!-- 导航栏 -->
    <#include "../header.html" />
</div>

<div class="search-area-wrapper">
    <div class="search-area container"  style="height: 60px">

        <form id="search-form" class="search-form clearfix" method="get" action="#" autocomplete="off">
            <input class="search-term required" type="text" id="s" name="s" placeholder="搜索关键字" title="* Please enter a search term!" />
            <input class="search-btn" type="submit" value="查询" />
            <input class="search-btn addArticle" type="submit" value="发贴" />
            <div id="search-error-container"></div>
        </form>
    </div>
</div>

<div class="page-container">
    <div class="container">
        <div class="row">

            <!-- start of page content -->
            <div class="span8 page-content">

                <article class="type-page hentry clearfix">
                    <h1 class="post-title">
                        <a href="#">联系我们</a>
                    </h1>
                    <hr>
                    <p>好途369选股系统，因为有你，所以年轻朝气，所以前途大好</p>
                </article>


                <form id="contact-form" class="row">

                    <div class="span1">
                        <label for="name">姓&nbsp;&nbsp;&nbsp;&nbsp;名 <span>*</span> </label>
                    </div>
                    <div class="span7">
                        <input type="text" name="name" id="name" class="input-xlarge check" title="请输入您的姓名"/>
                        <span class="nameError" style="color: red;margin-left: 4px" ></span>
                        <i class="layui-icon nameRight" style="font-size: 25px; color: green"></i>
                    </div>

                    <div class="span1">
                        <label for="email">邮&nbsp;&nbsp;&nbsp;&nbsp;箱 <span>*</span></label>
                    </div>
                    <div class="span7">
                        <input type="text" name="email" id="email" class="input-xlarge check" value="" title="请输入您在用的邮箱，以便我们及时回复">
                        <span class="emailError" style="color: red;margin-left: 4px" ></span>
                        <i class="layui-icon emailRight" style="font-size: 25px; color: green"></i>
                    </div>

                    <div class="span1">
                        <label for="subject">主&nbsp;&nbsp;&nbsp;&nbsp;题 </label>
                    </div>
                    <div class="span7">
                        <input type="text" name="subject" id="subject" id="subject" class="input-xlarge">
                    </div>

                    <div class="span1">
                        <label for="content">内&nbsp;&nbsp;&nbsp;&nbsp;容 <span>*</span> </label>
                    </div>
                    <div class="span6">
                        <textarea name="content" id="content" class="span5 check" rows="6" title="请输入内容"></textarea>
                        <span class="contentError" style="color: red;margin-left: 4px" ></span>
                        <i class="layui-icon contentRight" style="font-size: 25px; color: green"></i>
                    </div>

                    <div class="span4 offset1 bm30">
                        <input type="button" name="submit" id="contactUs" disabled value="立即发送" class="btn btn-inverse">
                    </div>
                </form>
            </div>
            <!-- end of page content -->


            <!-- start of sidebar -->
            <aside class="span4 page-sidebar">

                <section class="widget">
                    <div class="support-widget">
                        <h3 class="title">联系我们</h3>
                        <p class="intro">需要更多支持？ 如果您没有找到答案，请联系我们获取进一步帮助。</p>
                    </div>
                </section>

                <section class="widget">
                    <div class="quick-links-widget">
                        <h3 class="title">快速访问</h3>
                        <ul id="menu-quick-links" class="menu clearfix">
                            <li><a href="${request.contextPath}/community/index">社区首页</a></li>
                            <li><a href="${request.contextPath}/community/article">内容列表</a></li>
                            <li><a href="${request.contextPath}/community/faq">常见问题</a></li>
                            <li><a href="${request.contextPath}/community/contact">联系我们</a></li>
                        </ul>
                    </div>
                </section>

                <section class="widget">
                    <h3 class="title">最新内容</h3>
                    <ul class="articles">
                        <#list recentArticle as recentArticle>
                            <li class="article-entry standard">
                                <input type="hidden" value="${recentArticle.id}"/>
                                <h4><a href="#">${recentArticle.name}</a></h4>
                                <span class="article-meta">${recentArticle.date?split(" ")[0]}<a href="#">${recentArticle.tag[0].name}</a></span>
                                <span class="like-count" code="0">${recentArticle.likeCount}</span>
                            </li>
                        </#list>
                    </ul>
                </section>
            </aside>
            <!-- end of sidebar -->
        </div>
    </div>
</div>
<#include "../common_js.html"/>
<script src="${request.contextPath}/community/community.js"></script>
<script>
  $(function () {
      var name, email, subject, content;

      // 参数判断
      $('#contact-form .check').each(function() {
          $(this).blur(function () {
              var name = $(this).attr('id');
              check(name);
          });
      });

      var check = function (name) {
          var value = $('#' + name).val();
          var temp = value.replace(/\n/g, ""); // 剔除所有换行
          temp = temp.replace(/\s/g, ""); // 提出所有空格
          if (value == null || temp.length <= 0) {
              $('.' + name + 'Error').html($('#' + name).attr('title'));
              $('.' + name + 'Right').html('');
              $('#contactUs').attr('disabled', true);

          } else if('email' == name && !value.match(/^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+((\.[a-zA-Z0-9_-]{2,3}){1,2})$/)){
              $('.' + name + 'Error').html('邮箱格式不正确');
              $('.' + name + 'Right').html('');
              $('#contactUs').attr('disabled', true);
          } else{
              $('.' + name + 'Error').html('');
              $('.' + name + 'Right').html('&#xe618;');
              if ($('.nameRight').text() != '' && $('.emailRight').text() != '' && $('.contentRight').text() != '') {
                  $('#contactUs').attr('disabled', false);
              }
          }
      };

      // 联系我们
      $('#contactUs').click(function () {
          name = $('#name').val();
          email =$('#email').val();
          subject = $('#subject').val();
          content = $('#content').val();

          var contactUs = {
              name: name,
              email:email,
              subject: subject,
              content: content
          };

          $.ajax({
              url: '/community/saveContact',
              data: contactUs,
              type: 'POST',
              dataType: 'JSON',
              success: function(ret) {
                  if (ret && ret.O_CODE > 0) {
                      layer.msg(ret.O_NOTE);
                  } else {
                      layper.msg('系统繁忙，请稍后重试');
                  }
              }
          });
      });

      // 点赞
      $('.like-count').each(function () {
          $(this).click(function () {
              var id = $(this).siblings().eq(0).val();
              var code = $(this).attr('code');
              var likeCount = $(this).html();
              if (code == 0) { // 点赞
                  $.ajax({
                      url: "/community/updateLike",
                      data: {id: id},
                      type: 'GET',
                      dataType: 'JSON',
                      success: function(ret) {
                      }
                  });
                  $(this).html(parseInt(likeCount) + 1);
                  $(this).attr('code', "1");
                  $(this).attr('style', "background: url(${request.contextPath}/community/images/like.png) no-repeat 6px -22px;");
              } else { // 取消点赞
                  $.ajax({
                      url: "/community/removeLike",
                      data: {id: id},
                      type: 'GET',
                      dataType: 'JSON',
                      success: function(ret) {
                      }
                  });
                  $(this).html(parseInt(likeCount) - 1);
                  $(this).attr('code', "0");
                  $(this).attr('style', "background: url(${request.contextPath}/community/images/like.png) no-repeat 6px 8px;");
              }
          });
      });
  });
</script>
</body>
</html>