<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>选股社区</title>
    <link rel="stylesheet" href="${request.contextPath}/layui/css/layui.css">

    <!-- Style Sheet-->
    <link rel='stylesheet' id='bootstrap-css-css'  href='${request.contextPath}/community/css/bootstrap5152.css?ver=1.0' type='text/css' media='all' />
    <link rel='stylesheet' id='responsive-css-css'  href='${request.contextPath}/community/css/responsive5152.css?ver=1.0' type='text/css' media='all' />
    <link rel='stylesheet' id='pretty-photo-css-css'  href='${request.contextPath}/community/js/prettyphoto/prettyPhotoaeb9.css?ver=3.1.4' type='text/css' media='all' />
    <link rel='stylesheet' id='main-css-css'  href='${request.contextPath}/community/css/main5152.css?ver=1.0' type='text/css' media='all' />
    <link rel='stylesheet' id='custom-css-css'  href='${request.contextPath}/community/css/custom5152.html?ver=1.0' type='text/css' media='all' />

    <script src="${request.contextPath}/js/jquery-3.3.1.min.js"></script>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="${request.contextPath}/community/js/html5.js"></script>
    <![endif]-->

</head>
<body>
<div class="layui-layout layui-layout-admin">
    <!-- 导航栏 -->
    <#include "../header.html" />
</div>

<div class="search-area-wrapper">
    <div class="search-area container"  style="height: 60px">
        <#include "article_top.html"/>
    </div>
</div>

<div class="page-container">
    <div class="container">
        <div class="row">

            <!-- start of page content -->
            <div class="span8 page-content">

                <article class=" page type-page hentry clearfix">
                    <h1 class="post-title"><a href="#">常见问题</a></h1>
                    <hr>
                    <p></p>
                </article>

                <div class="faqs clearfix">
                    <#list faq as faq>
                        <article class="faq-item">
                            <span class="faq-icon"></span>
                            <h3 class="faq-question">
                                <a href="#">${faq.name}</a>
                            </h3>
                            <div class="faq-answer">
                                <p>${faq.content}</p>
                            </div>
                        </article>
                    </#list>
                </div>

            </div>
            <!-- end of page content -->

            <!-- start of sidebar -->
            <aside class="span4 page-sidebar">

                <section class="widget">
                    <div class="support-widget">
                        <h3 class="title">联系我们</h3>
                        <p class="intro">需要更多支持？ 如果您没有找到答案，请联系我们获取进一步帮助。</p>
                    </div>
                </section>

                <section class="widget">
                    <div class="quick-links-widget">
                        <h3 class="title">快速访问</h3>
                        <ul id="menu-quick-links" class="menu clearfix">
                            <li><a href="${request.contextPath}/community/index">社区首页</a></li>
                            <li><a href="${request.contextPath}/community/article">内容列表</a></li>
                            <li><a href="${request.contextPath}/community/faq">常见问题</a></li>
                            <li><a href="${request.contextPath}/community/contact">联系我们</a></li>
                        </ul>
                    </div>
                </section>

                <section class="widget">
                    <h3 class="title">最新内容</h3>
                    <ul class="articles">
                        <#list recentArticle as recentArticle>
                            <li class="article-entry standard">
                                <input type="hidden" value="#{recentArticle.id}"/>
                                <h4><a href="#">${recentArticle.name}</a></h4>
                                <span class="article-meta">${recentArticle.date?split(" ")[0]}<a href="#">${recentArticle.tag[0].name}</a></span>
                                <span class="like-count" code="0">${recentArticle.likeCount}</span>
                            </li>
                        </#list>
                    </ul>
                </section>

                <section class="widget">
                    <h3 class="title">分类</h3>
                    <div class="tagcloud">
                        <#list tag as tag>
                            <a href="/community/article?tagId=${tag.id}" class="btn btn-mini">${tag.name}</a>
                        </#list>
                    </div>
                </section>

            </aside>
            <!-- end of sidebar -->
        </div>
    </div>
</div>

<script src="${request.contextPath}/layui/layui.all.js"></script>
<script src="${request.contextPath}/community/community.js"></script>
<!-- script -->
<script type='text/javascript' src='${request.contextPath}/community/js/jquery-1.8.3.min.js'></script>
<script type='text/javascript' src='${request.contextPath}/community/js/jquery.easing.1.3.js'></script>
<script type='text/javascript' src='${request.contextPath}/community/js/prettyphoto/jquery.prettyPhoto.js'></script>
<script type='text/javascript' src='${request.contextPath}/community/js/jflickrfeed.js'></script>
<script type='text/javascript' src='${request.contextPath}/community/js/jquery.liveSearch.js'></script>
<script type='text/javascript' src='${request.contextPath}/community/js/jquery.form.js'></script>
<script type='text/javascript' src='${request.contextPath}/community/js/jquery.validate.min.js'></script>
<script type='text/javascript' src='${request.contextPath}/community/js/custom.js'></script>

<script>
    $(function() {
        // 点赞
        $('.like-count').each(function () {
            $(this).click(function () {
                var id = $(this).siblings().eq(0).val();
                var code = $(this).attr('code');
                var likeCount = $(this).html();
                if (code == 0) { // 点赞
                    $.ajax({
                        url: "/community/updateLike",
                        data: {id: id},
                        type: 'GET',
                        dataType: 'JSON',
                        success: function(ret) {
                        }
                    });
                    $(this).html(parseInt(likeCount) + 1);
                    $(this).attr('code', "1");
                    $(this).attr('style', "background: url(${request.contextPath}/community/images/like.png) no-repeat 6px -22px;");
                } else { // 取消点赞
                    $.ajax({
                        url: "/community/removeLike",
                        data: {id: id},
                        type: 'GET',
                        dataType: 'JSON',
                        success: function(ret) {
                        }
                    });
                    $(this).html(parseInt(likeCount) - 1);
                    $(this).attr('code', "0");
                    $(this).attr('style', "background: url(${request.contextPath}/community/images/like.png) no-repeat 6px 8px;");
                }
            });
        });
    })
</script>
</body>
</html>