<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>选股社区</title>
    <#include "../common_css.html" />

    <!-- Style Sheet-->
    <link rel='stylesheet' id='bootstrap-css-css'  href='${request.contextPath}/community/css/bootstrap5152.css?ver=1.0' type='text/css' media='all' />
    <link rel='stylesheet' id='responsive-css-css'  href='${request.contextPath}/community/css/responsive5152.css?ver=1.0' type='text/css' media='all' />
    <link rel='stylesheet' id='pretty-photo-css-css'  href='${request.contextPath}/community/js/prettyphoto/prettyPhotoaeb9.css?ver=3.1.4' type='text/css' media='all' />
    <link rel='stylesheet' id='main-css-css'  href='${request.contextPath}/community/css/main5152.css?ver=1.0' type='text/css' media='all' />
    <link rel='stylesheet' id='custom-css-css'  href='${request.contextPath}/community/css/custom5152.html?ver=1.0' type='text/css' media='all' />

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="${request.contextPath}/community/js/html5.js"></script>
    <![endif]-->
    <style type="text/css">
        .article-entry .like-count {
            position: absolute;
            bottom: 0px;
            right: 0px;
            line-height: 18px;
            font-weight: 600;
            padding: 3px 5px 3px 20px;
            border: 1px solid #f2f2f2;
            border-bottom: none;
            background: url(${request.contextPath}/community/images/like.png) no-repeat 6px 8px;
        }
    </style>
</head>
<body>
<div class="layui-layout layui-layout-admin">

    <#include "../header.html" />
</div>

<div class="search-area-wrapper">
    <div class="search-area container"  style="height: 60px">

        <form id="search-form" class="search-form clearfix" method="get" action="#" autocomplete="off">
            <input class="search-term required" type="text" id="s" name="s" placeholder="搜索关键字" title="* Please enter a search term!" />
            <input class="search-btn" type="submit" value="查询" />
            <input class="search-btn" type="submit" value="发贴" />
            <div id="search-error-container"></div>
        </form>
    </div>
</div>

<div class="page-container">
    <div class="container">
        <div class="row">

            <!-- start of page content -->
            <div class="span8 page-content">

                <!-- Basic Home Page Template -->
                <div class="row separator">
                    <section class="span4 articles-list">
                        <h3>精选内容</h3>
                        <ul class="articles">
                            <#list choiceArticle as choiceArticle>
                                <li class="article-entry standard">
                                    <input class="id" type="hidden" value="${choiceArticle.id}"/>
                                    <h4><a href="#">${choiceArticle.name}</a></h4>
                                    <span class="article-meta">${choiceArticle.date?split(" ")[0]}&nbsp;<a href="#" >${choiceArticle.tag[0].name}</a></span>
                                    <span class="like-count" code="0">${choiceArticle.likeCount}</span>
                                </li>
                            </#list>
                        </ul>
                    </section>


                    <section class="span4 articles-list">
                        <h3>最新内容</h3>
                        <ul class="articles">
                            <#list recentArticle as recentArticle>
                                <li class="article-entry standard">
                                    <input class="id" type="hidden" value="${recentArticle.id}"/>
                                    <h4><a href="#">${recentArticle.name}</a></h4>
                                    <span class="article-meta">${recentArticle.date?split(" ")[0]}&nbsp;<a href="#">${recentArticle.tag[0].name}</a></span>
                                    <span class="like-count" code="0">${recentArticle.likeCount}</span>
                                </li>
                            </#list>
                        </ul>
                    </section>
                </div>
            </div>
            <!-- end of page content -->


            <!-- start of sidebar -->
            <aside class="span4 page-sidebar">

                <section class="widget">
                    <div class="support-widget">
                        <h3 class="title">联系我们</h3>
                        <p class="intro">需要更多支持？ 如果您没有找到答案，请联系我们获取进一步帮助。</p>
                    </div>
                </section>

                <section class="widget">
                    <div class="quick-links-widget">
                        <h3 class="title">快速访问</h3>
                        <ul id="menu-quick-links" class="menu clearfix">
                            <li><a href="${request.contextPath}/community/index">社区首页</a></li>
                            <li><a href="${request.contextPath}/community/article">内容列表</a></li>
                            <li><a href="${request.contextPath}/community/faq">常见问题</a></li>
                            <li><a href="${request.contextPath}/community/contact">联系我们</a></li>
                        </ul>
                    </div>
                </section>

                <section class="widget">
                    <h3 class="title">分类</h3>
                    <div class="tagcloud">
                        <#list tag as tag>
                            <a href="#" class="btn btn-mini">${tag.name}</a>
                        </#list>
                    </div>
                </section>

            </aside>
            <!-- end of sidebar -->
        </div>
    </div>
</div>

<!--<script src="${request.contextPath}/layui/layui.all.js"></script>-->
<#include "../common_js.html" />
<script>
    $(function() {
        // 点赞
        $('.like-count').each(function () {
            $(this).click(function () {
                var id = $(this).siblings().eq(0).val();
                var code = $(this).attr('code');
                var likeCount = $(this).html();
                if (code == 0) { // 点赞
                    $.ajax({
                        url: "/community/updateLike",
                        data: {id: id},
                        type: 'GET',
                        dataType: 'JSON',
                        success: function(ret) {
                        }
                    });
                    $(this).html(parseInt(likeCount) + 1);
                    $(this).attr('code', "1");
                    $(this).attr('style', "background: url(${request.contextPath}/community/images/like.png) no-repeat 6px -22px;");
                } else { // 取消点赞
                    $.ajax({
                        url: "/community/removeLike",
                        data: {id: id},
                        type: 'GET',
                        dataType: 'JSON',
                        success: function(ret) {
                        }
                    });
                    $(this).html(parseInt(likeCount) - 1);
                    $(this).attr('code', "0");
                    $(this).attr('style', "background: url(${request.contextPath}/community/images/like.png) no-repeat 6px 8px;");
                }
            });
        });
    })
</script>
</body>
</html>