<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>选股社区</title>
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <link rel="stylesheet" href="${request.contextPath}/layui/css/layui.css">

    <!-- Style Sheet-->
    <link rel='stylesheet' id='bootstrap-css-css'  href='${request.contextPath}/community/css/bootstrap5152.css?ver=1.0' type='text/css' media='all' />
    <link rel='stylesheet' id='responsive-css-css'  href='${request.contextPath}/community/css/responsive5152.css?ver=1.0' type='text/css' media='all' />
    <link rel='stylesheet' id='pretty-photo-css-css'  href='${request.contextPath}/community/js/prettyphoto/prettyPhotoaeb9.css?ver=3.1.4' type='text/css' media='all' />
    <link rel='stylesheet' id='main-css-css'  href='${request.contextPath}/community/css/main5152.css?ver=1.0' type='text/css' media='all' />
    <link rel='stylesheet' id='custom-css-css'  href='${request.contextPath}/community/css/custom5152.html?ver=1.0' type='text/css' media='all' />

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="${request.contextPath}/community/js/html5.js"></script>
    <![endif]-->

</head>
<body>
<div class="layui-layout layui-layout-admin">
    <#include "header.html"/>
</div>

<div class="search-area-wrapper">
    <div class="search-area container"  style="height: 60px">

        <form id="search-form" class="search-form clearfix" method="get" action="#" autocomplete="off">
            <input class="search-term required" type="text" id="s" name="s" placeholder="搜索关键字" title="* Please enter a search term!" />
            <input class="search-btn" type="submit" value="查询" />
            <div id="search-error-container"></div>
        </form>
    </div>
</div>

<div class="page-container">
    <div class="container">
        <div class="row">

            <!-- Start of Page Container -->
            <div class="page-container">
                <div class="container">
                    <div class="row">

                        <!-- start of page content -->
                        <div class="span8 main-listing">

                            <#list article as article>
                                <article class=" type-post  format-standard hentry clearfix">

                                <header class="clearfix">
                                    <input type="hidden" value="${article.id}"/>
                                    <h3 class="post-title">
                                        <a href="#">${article.name}</a>
                                    </h3>

                                    <div class="post-meta clearfix">
                                        <span class="date">${article.date?split(" ")[0]}</span>
                                        <span class="category"><a href="#">${article.tag[0].name}</a></span>

                                        <span class="comments"><a href="#">${article.readCount} 阅读</a></span>

                                        <span class="like-count" code="0">${article.likeCount}</span>
                                    </div><!-- end of post meta -->

                                </header>

                                <p>
                                    <#if article.content?length &gt; 80>
                                        ${article.content[0..80]}...
                                    </#if>
                                    <#if article.content?length &lt; 81>
                                        ${article.content}
                                    </#if>
                                </p>
                            </article>
                            </#list>


                            <div id="pagination">
                                <a href="#" class="btn active">1</a>
                                <a href="#" class="btn">2</a>
                                <a href="#" class="btn">3</a>
                                <a href="#" class="btn">Next »</a>
                                <a href="#" class="btn">Last »</a>
                            </div>

                        </div>
                        <!-- end of page content -->
                        <!-- start of sidebar -->
                        <aside class="span4 page-sidebar">

                            <section class="widget">
                                <div class="support-widget">
                                    <h3 class="title">联系我们</h3>
                                    <p class="intro">需要更多支持？ 如果您没有找到答案，请联系我们获取进一步帮助。</p>
                                </div>
                            </section>

                            <section class="widget">
                                <div class="quick-links-widget">
                                    <h3 class="title">快速访问</h3>
                                    <ul id="menu-quick-links" class="menu clearfix">
                                        <li><a href="${request.contextPath}/community/index">社区首页</a></li>
                                        <li><a href="${request.contextPath}/community/article">内容列表</a></li>
                                        <li><a href="${request.contextPath}/community/faq">常见问题</a></li>
                                        <li><a href="${request.contextPath}/community/contact">联系我们</a></li>
                                    </ul>
                                </div>
                            </section>

                            <section class="span4 articles-list">
                                <h3>精选内容</h3>
                                <ul class="articles">
                                    <#list choiceArticle as choiceArticle>
                                        <li class="article-entry standard">
                                            <input type="hidden" value="${choiceArticle.id}"/>
                                            <h4><a href="#">${choiceArticle.name}</a></h4>
                                            <span class="article-meta">${choiceArticle.date?split(" ")[0]}&nbsp;<a href="#" >${choiceArticle.tag[0].name}</a></span>
                                            <span class="like-count" code="0">${choiceArticle.likeCount}</span>
                                        </li>
                                    </#list>
                                </ul>
                            </section>

                            <section class="widget">
                                <h3 class="title">最近评论</h3>
                                <ul id="recentcomments">
                                    <li class="recentcomments"><a href="#" rel="external nofollow" class="url">吴女士</a> 关于 <a href="#">顶点软件五连涨停的评论</a></li>
                                    <li class="recentcomments">朱先生 关于 <a href="#">顶点软件五连涨停的评论</a></li>
                                    <li class="recentcomments"><a href="#" rel="external nofollow" class="url">徐先生</a> 关于 <a href="#">顶点软件五连涨停的评论</a></li>
                                    <li class="recentcomments"><a href="#" rel="external nofollow" class="url">胡女士</a> 关于 <a href="#">顶点软件五连涨停的评论</a></li>
                                </ul>
                            </section>

                        </aside>
                        <!-- end of sidebar -->
                    </div>
                </div>
            </div>
            <!-- End of Page Container -->
        </div>
    </div>
</div>

<script src="${request.contextPath}/layui/layui.all.js"></script>

<script>
    $(function() {
        // 点赞
        $('.like-count').each(function () {
            $(this).click(function () {
                var id = $(this).parent().siblings().eq(0).val();
                var code = $(this).attr('code');
                var likeCount = $(this).html();
                if (code == 0) { // 点赞
                    $.ajax({
                        url: "/community/updateLike",
                        data: {id: id},
                        type: 'GET',
                        dataType: 'JSON',
                        success: function(ret) {
                        }
                    });
                    $(this).html(parseInt(likeCount) + 1);
                    $(this).attr('code', "1");
                    $(this).attr('style', "background: url(${request.contextPath}/community/images/like.png) no-repeat 6px -22px;");
                } else { // 取消点赞
                    $.ajax({
                        url: "/community/removeLike",
                        data: {id: id},
                        type: 'GET',
                        dataType: 'JSON',
                        success: function(ret) {
                        }
                    });
                    $(this).html(parseInt(likeCount) - 1);
                    $(this).attr('code', "0");
                    $(this).attr('style', "background: url(${request.contextPath}/community/images/like.png) no-repeat 6px 8px;");
                }
            });
        });
    })
</script>
</body>
</html>