<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>选股社区</title>
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <link rel="stylesheet" href="${request.contextPath}/layui/css/layui.css">

    <!-- Style Sheet-->
    <link rel='stylesheet' id='bootstrap-css-css'  href='${request.contextPath}/community/css/bootstrap5152.css?ver=1.0' type='text/css' media='all' />
    <link rel='stylesheet' id='responsive-css-css'  href='${request.contextPath}/community/css/responsive5152.css?ver=1.0' type='text/css' media='all' />
    <link rel='stylesheet' id='pretty-photo-css-css'  href='${request.contextPath}/community/js/prettyphoto/prettyPhotoaeb9.css?ver=3.1.4' type='text/css' media='all' />
    <link rel='stylesheet' id='main-css-css'  href='${request.contextPath}/community/css/main5152.css?ver=1.0' type='text/css' media='all' />
    <link rel='stylesheet' id='custom-css-css'  href='${request.contextPath}/community/css/custom5152.html?ver=1.0' type='text/css' media='all' />

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="${request.contextPath}/community/js/html5.js"></script>
    <![endif]-->

    <script src="${request.contextPath}/js/dateformat.js"></script>

</head>
<body>
<div class="layui-layout layui-layout-admin">
    <#include "header.html"/>
</div>

<div class="search-area-wrapper">
    <div class="search-area container"  style="height: 60px">

        <form id="search-form" class="search-form clearfix" method="get" action="#" autocomplete="off">
            <input class="search-term required" type="text" id="s" name="s" placeholder="搜索关键字" title="* Please enter a search term!" />
            <input class="search-btn" type="submit" value="查询" />
            <div id="search-error-container"></div>
        </form>
    </div>
</div>

<!-- Start of Page Container -->
<div class="page-container">
    <div class="container">
        <div class="row">

            <!-- start of page content -->
            <div class="span8 main-listing">

                <div id="article">

                </div>
                <input type="hidden" id="count" value="${count}"/>
                <div id="pagination">

                </div>

            </div>
            <!-- end of page content -->
            <!-- start of sidebar -->
            <aside class="span4 page-sidebar">

                <section class="widget">
                    <div class="support-widget">
                        <h3 class="title">联系我们</h3>
                        <p class="intro">需要更多支持？ 如果您没有找到答案，请联系我们获取进一步帮助。</p>
                    </div>
                </section>

                <section class="widget">
                    <div class="quick-links-widget">
                        <h3 class="title">快速访问</h3>
                        <ul id="menu-quick-links" class="menu clearfix">
                            <li><a href="${request.contextPath}/community/index">社区首页</a></li>
                            <li><a href="${request.contextPath}/community/article">内容列表</a></li>
                            <li><a href="${request.contextPath}/community/faq">常见问题</a></li>
                            <li><a href="${request.contextPath}/community/contact">联系我们</a></li>
                        </ul>
                    </div>
                </section>

                <section class="widget">
                    <h3 class="title">精选内容</h3>
                    <ul class="articles">
                        <#list choiceArticle as choiceArticle>
                            <li class="article-entry standard">
                                <input type="hidden" value="${choiceArticle.id}"/>
                                <h4><a href="#">${choiceArticle.name}</a></h4>
                                <span class="article-meta">${choiceArticle.date?split(" ")[0]}&nbsp;<a href="#" >${choiceArticle.tag[0].name}</a></span>
                                <span class="like-count" code="0">${choiceArticle.likeCount}</span>
                            </li>
                        </#list>
                    </ul>
                </section>

                <section class="widget">
                    <h3 class="title">最近评论</h3>
                    <ul class="recentCommentlist">

                    </ul>
                </section>

            </aside>
            <!-- end of sidebar -->
        </div>
    </div>
</div>
<!-- End of Page Container -->

<script src="${request.contextPath}/layui/layui.all.js"></script>

<script>
    $(function() {
        // 点赞
        var like = function(type) {
            $('.like-count').each(function () {
                $(this).unbind("click").click(function () {
                    var id;
                    if (1 == type) {
                        id = $(this).parent().siblings().eq(0).val();
                    } else {
                        id = $(this).siblings().eq(0).val();
                    }
                    var code = $(this).attr('code');
                    var likeCount = $(this).html();
                    if (code == 0) { // 点赞
                        $.ajax({
                            url: "/community/updateLike",
                            data: {id: id},
                            type: 'GET',
                            dataType: 'JSON',
                            success: function (ret) {
                            }
                        });
                        $(this).html(parseInt(likeCount) + 1);
                        $(this).attr('code', "1");
                        $(this).attr('style', "background: url(${request.contextPath}/community/images/like.png) no-repeat 6px -22px;");
                    } else { // 取消点赞
                        $.ajax({
                            url: "/community/removeLike",
                            data: {id: id},
                            type: 'GET',
                            dataType: 'JSON',
                            success: function (ret) {
                            }
                        });
                        $(this).html(parseInt(likeCount) - 1);
                        $(this).attr('code', "0");
                        $(this).attr('style', "background: url(${request.contextPath}/community/images/like.png) no-repeat 6px 8px;");
                    }
                });
            });
        };

        // 分页
        var laypage = layui.laypage;
        var totalCount = $('#count').val();
        laypage.render({
            elem: 'pagination',
            count: totalCount, //数据总数，从服务端得到
            limit: 5, // 页的大小
            skip : true, //是否开启跳页
            jump: function (obj, first) {
                $.ajax({
                    url: '/community/articlePage',
                    data: {pageNo: obj.curr, pageSize: obj.limit},
                    type: 'POST',
                    dataType: 'JSON',
                    success: function(ret) {
                        var parentHtml = $('#article');
                        parentHtml.empty();
                        var html = '';
                        for (var i = 0; i < ret.length; i++) {
                            var date = DateFormat.format(new Date(ret[i]['date']), 'yyyy-MM-dd');
                            var tag = ret[i].tag['0']['name'];
                            var content = ret[i]['content'].length > 80 ? ret[i]['content'].substring(0, 80) + '...' : ret[i]['content'];

                            html += '<article class=" type-post  format-standard hentry clearfix">' +
                                '                                <header class="clearfix">' +
                                '                                    <input type="hidden" value="' + ret[i]['id'] + '"/>' +
                                '                                    <h3 class="post-title">' +
                                '                                        <a href="/community/articleDetail?id=' + ret[i]['id'] + '">' + ret[i]['name'] + '</a>' +
                                '                                    </h3>' +
                                '                                    <div class="post-meta clearfix">' +
                                '                                        <span class="date">' + date + '</span>' +
                                '                                        <span class="category"><a href="#">' + tag + '</a></span>' +
                                '                                        <span class="comments">' + ret[i]['readCount'] + ' 阅读</span>' +
                                '                                        <span class="like-count" code="0">' + ret[i]['likeCount'] + '</span>' +
                                '                                    </div><!-- end of post meta -->' +
                                '                                </header>' +
                                '                                <p>' +
                                content +
                                '                                </p>' +
                                '                            </article>';
                        }
                        parentHtml.html(html);
                        like(1);
                    }
                });
            }
        });

        // 最近评论
        var listRecentComments = function() {
            $.ajax({
                url: '/community/listRecentComment',
                data: {'pageNo': '1', 'pageSize': '4'},
                type: 'POST',
                dataType: 'JSON',
                success: function(ret) {
                    var parentHtml = $('.recentCommentlist');
                    parentHtml.empty();
                    var html = '';
                    if (ret && ret.length > 0) {
                        for (var i = 0; i < ret.length; i++) {
                            var articleName = ret[i]['articleName'].length > 15 ? ret[i]['articleName'].substring(0,15) + '...' : ret[i]['articleName'];
                            html += '<li class="recentcomments">' +
                                '   <a href="#" rel="external nofollow" class="url">' +
                                ret[i].user['username'] + '' +
                                '   </a> 关于 ' +
                                '   <a href="/community/articleDetail?id=' + ret[i]['articleId'] + '">' +
                                articleName +
                                '  </a> 的评论' +
                                '</li>';
                        }
                    } else {
                        html = '暂无评论'
                    }
                    parentHtml.html(html);
                }
            });
        };

        like(2);
        listRecentComments();
    })
</script>
</body>
</html>