<script src="${request.contextPath}/js/jquery-3.3.1.min.js"></script>

<script src="${request.contextPath}/js/jquery.cookie.js"></script>

<!-- editor.md -->
<script src="${request.contextPath}/plugin/editor/editormd.js"></script>

<script src="${request.contextPath}/layui/layui.all.js"></script>

<script src="${request.contextPath}/js/echarts.js"></script>

<script src="${request.contextPath}/js/dateformat.js"></script>

<!-- 提示插件 -->
<script src="${request.contextPath}/plugin/poshytip/jquery.poshytip.js"></script>
