<div class="layui-header">
    <div class="layui-logo">好途369选股</div>
    <!-- 头部区域（可配合layui已有的水平导航） -->
    <ul class="layui-nav layui-layout-left">
        <li class="layui-nav-item"><a href="${request.contextPath}/school/index">选股学堂</a></li>
        <li class="layui-nav-item">
            <a href="javascript:;">新闻事件</a>
            <dl class="layui-nav-child">
                <dd><a href="${request.contextPath}/news/immediate">即时新闻</a></dd>
                <dd><a href="${request.contextPath}/news/mines">信息地雷</a></dd>
                <dd><a href="${request.contextPath}/news/sina">新浪股吧</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item"><a href="${request.contextPath}/stock/index">精选牛股</a></li>
        <li class="layui-nav-item"><a href="${request.contextPath}/community/index">选股社区</a></li>
    </ul>
    <ul class="layui-nav layui-layout-right rightMenu">

    </ul>
</div>
<script src="${request.contextPath}/js/jquery-3.3.1.min.js"></script>
<script src="${request.contextPath}/js/jquery.cookie.js"></script>
<script>
    $(function () {
        // 右上角行为监测
        var rightBehavior = function() {
            var rightMenu =$('.rightMenu');
            rightMenu.empty();

            var userInfo = $.cookie('userInfo');
            var html = '';

            if (userInfo != null) {
                var jsonInfo = JSON.parse(userInfo);
                var username = jsonInfo['username'];
                var img = jsonInfo['img'];

                html = ' <li class="layui-nav-item">' +
                    '        <a href="javascript:;">' +
                    '          <img src="${request.contextPath}/img/user/' + img +'" class="layui-nav-img">' +
                    '          ' + username + '' +
                    '        </a>' +
                    '      </li>' +
                    '      <li class="layui-nav-item"><a href="" class="logout">退了</a></li>';
            } else {
                html = ' <li class="layui-nav-item"><a href="${request.contextPath}/login">登录</a></li>' +
                    '        <li class="layui-nav-item"><a href="${request.contextPath}/register">注册</a></li>'
            }
            rightMenu.html(html);
            $(document).ready(function() {
                $('.logout').unbind('click').click(function() {
                    $.ajax({
                        url: '/logout',
                        data: '',
                        type: 'GET',
                        dataType: 'JSON',
                        async: false,
                        success: function (ret) {
                        }
                    })
                });
            });
        };

        
        rightBehavior();
    })
</script>
