<div class="layui-header">
    <div class="layui-logo">好途369选股</div>
    <!-- 头部区域（可配合layui已有的水平导航） -->
    <ul class="layui-nav layui-layout-left">
        <li class="layui-nav-item"><a href="${request.contextPath}/school/index">选股学堂</a></li>
        <li class="layui-nav-item">
            <a href="javascript:;">新闻事件</a>
            <dl class="layui-nav-child">
                <dd><a href="${request.contextPath}/news/immediate">即时新闻</a></dd>
                <dd><a href="${request.contextPath}/news/mines">信息地雷</a></dd>
                <dd><a href="${request.contextPath}/news/sina">新浪股吧</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item"><a href="${request.contextPath}/stock/index">精选牛股</a></li>
        <li class="layui-nav-item"><a href="${request.contextPath}/community/index">选股社区</a></li>
    </ul>
    <ul class="layui-nav layui-layout-right">
        <li class="layui-nav-item"><a href="${request.contextPath}/login">登录</a></li>
        <li class="layui-nav-item"><a href="${request.contextPath}/register">注册</a></li>
    </ul>
</div>