<!DOCTYPE html>
<html>
	
<head>
		<meta charset="utf-8">
		<title>登录界面</title>
		<link rel="stylesheet" href="${request.contextPath}/index/css/reset.css" />
		<link rel="stylesheet" href="${request.contextPath}/index/css/common.css" />
		<link rel="stylesheet" href="${request.contextPath}/index/css/font-awesome.min.css" />
</head>
<body>
	<div class="wrap login_wrap">
		<div class="content">
			<div class="logo"></div>
			<div class="login_box">

				<div class="login_form">
					<div class="login_title">
						登录
					</div>
					<form action="/checkLogin" method="post" id="login-form">

						<div class="form_text_ipt">
							<input id="username" name="username" type="text" placeholder="用户名" class="check">
							<span class="usernameError" style="color: red;margin-left: 4px" ></span>
						</div>
						<div class="form_text_ipt">
							<input id="password" name="password" type="password" placeholder="密码" class="check">
							<span class="passwordError" style="color: red;margin-left: 4px" >
								<#if error??>${error}</#if>
							</span>
						</div>
						<!--<div class="form_check_ipt">
							<div class="right check_right">
								<a href="#">忘记密码</a>
							</div>
						</div>-->
						<div class="form_btn" >
							<button type="submit" style="margin-top: 10px" disabled id="login">登录</button>
						</div>
						<div class="form_reg_btn" style="height: 40px">
							<span>还没有帐号？</span><a href="${request.contextPath}/register">马上注册</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
<#include "common_js.html"/>
<script>
	$(function () {
		var name, email, subject, content;

		// 参数判断
		$('#login-form .check').each(function() {
			$(this).blur(function () {
				var name = $(this).attr('id');
				check(name);
			});
		});

		var check = function (name) {
			var value = $('#' + name).val();
			var temp = value.replace(/\n/g, ""); // 剔除所有换行
			temp = temp.replace(/\s/g, ""); // 踢出所有空格
			if (value == null || temp.length <= 0) {
				$('.' + name + 'Error').html($('#' + name).attr('placeholder') + '不能为空');
				$('#login').attr('disabled', true);
			} else{
				$('.' + name + 'Error').html('');
				if ($('#usernameError').text() == '' && $('#passwordError').text() == '') {
					$('#login').attr('disabled', false);
				}
			}
		};
	})
</script>
</body>
</html>
