<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>新浪新闻</title>
    <#include "../common_css.html" />
    <link rel="stylesheet" href="${request.contextPath}/layui/global.css">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">

    <!-- 引入头部文件 -->
    <#include "header.html" />

</div>
<div class="layui-main">
    <ul class="site-idea">
        <#list news as news>
            <li>
                <a href="javascript:void(0)">
                    <fieldset class="layui-elem-field layui-field-title">
                    <legend title="${news.title}">
                        <#if news.title?length &gt; 8>
                            ${news.title[0..8]}...
                        </#if>
                        <#if news.title?length &lt; 9>
                            ${news.title}
                        </#if>
                    </legend>
                    <p class="contentDetail" content="${news.content}">
                        <#if news.content?length &gt; 86>
                            ${news.content[0..86]}...
                        </#if>
                        <#if news.content?length &lt; 87>
                        ${news.content}
                        </#if>
                    </p>
                </fieldset>
                </a>
            </li>
        </#list>
    </ul>
</div>
<#include "../common_js.html" />
<script>
    $(function() {

        // 内容提示
        $('.contentDetail').poshytip({
            content: function(){
                var content = $(this).attr('content');
                return '<span style="font-size:14px;">' +content + '</span>';
            },
            className: 'tip-white',
            alignTo: 'target',
            alignX: 'center',
            alignY: 'bottom'
        });
    })
</script>
</body>
</html>