<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>注册界面</title>
    <link rel="stylesheet" href="${request.contextPath}/index/css/reset.css" />
    <link rel="stylesheet" href="${request.contextPath}/index/css/common.css" />
    <link rel="stylesheet" href="${request.contextPath}/index/css/font-awesome.min.css" />
</head>
<body>
<div class="wrap login_wrap">
    <div class="content">

        <div class="logo"></div>

        <div class="login_box">

            <div class="login_form">
                <div class="login_title">
                    注册
                </div>
                <form id="register-form">

                    <div class="form_text_ipt">
                        <input id="username" class="check" type="text" placeholder="用户名">
                        <span class="usernameError" style="color: red;margin-left: 4px" ></span>
                    </div>
                    <div class="ececk_warning"><span></span></div>
                    <div class="form_text_ipt">
                        <input id="password" class="check"  type="password" placeholder="密码">
                        <span class="passwordError" style="color: red;margin-left: 4px" ></span>
                    </div>
                    <div class="form_text_ipt">
                        <input id="repassword" class="check" type="password" placeholder="重复密码">
                        <span class="repasswordError" style="color: red;margin-left: 4px" ></span>
                    </div>
                    <div class="form_btn">
                        <button type="button" id="register" disabled  style="margin-top: 10px">注册</button>
                    </div>
                    <div class="form_reg_btn" style="height: 40px">
                        <span>已有帐号？</span><a href="${request.contextPath}/login">马上登录</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<#include "common_js.html"/>
<script>
    $(function () {
        var name, email, subject, content;

        // 参数判断
        $('#register-form .check').each(function() {
            $(this).blur(function () {
                var name = $(this).attr('id');
                check(name);
            });
        });

        var check = function (name) {
            var value = $('#' + name).val();
            var temp = value.replace(/\n/g, ""); // 剔除所有换行
            temp = temp.replace(/\s/g, ""); // 踢出所有空格
            if (value == null || temp.length <= 0) {
                $('.' + name + 'Error').html($('#' + name).attr('placeholder') + '不能为空');
                $('#register').attr('disabled', true);

            } else if('username' == name){
                var username = $('#username').val();
                $.ajax({
                    url: "/checkUsername",
                    data: {'username': username},
                    type: 'POST',
                    dataType: 'JSON',
                    success: function(ret) {
                        if (ret && ret['O_CODE'] < 0) {
                            $('.usernameError').html('用户名已存在');
                        } else {
                            $('.usernameError').html('')
                        }
                    }
                })
            } else if('password' == name && $('#password').val().length < 6 ) {
                $('.' + name + 'Error').html('密码长度不能低于6位');
                $('#register').attr('disabled', true);
            } else if('repassword' == name && $('#repassword').val() != $('#password').val()){
                $('.' + name + 'Error').html('两次密码不一致');
                $('#register').attr('disabled', true);
            } else{
                $('.' + name + 'Error').html('');
                if ($('#usernameError').text() == '' && $('#passwordError').text() == '' && $('#repasswordError').text() == '') {
                    $('#register').attr('disabled', false);
                }
            }
        };

        $('#register').click(function () {
            debugger;
            var username = $('#username').val();
            var password = $('#password').val();
            var params = {
              'username': username,
              'password': password
            };
            $.ajax({
                url: '/addUser',
                data: params,
                type: 'POST',
                dataType: 'JSON',
                success: function (ret) {
                    if (ret && ret['O_CODE'] > 0) {
                        $('#username').val('');
                        $('#password').val('');
                        $('#repassword').val('');
                        $('#register').attr('disabled', true);
                        layer.msg(ret['O_NOTE']);
                    }
                }
            })
        });
    })
</script>
</body>
</html>
